Source: zabbix-check-spamassassin
Maintainer: Christoph Hueffelmann <chr@istoph.de>
Section: net
Priority: optional
Standards-Version: 3.8.4

Package: zabbix-check-spamassassin
Architecture: all
Pre-Depends: zabbix-agent
Depends: lsb-base, socat, net-tools
Description: zabbix check for spamassassin
 This zabbix check is for spamassassin services
